<div
  class="flex items-center justify-between px-2 py-1 rounded-md bg-gray-50 w-60"
>
  <label for="fixed_search" class="sr-only">검색어를 입력해주세요.</label>
  <input
    id="fixed_search"
    class="ml-3 text-sm tracking-tight outline-none bg-gray-50"
    type="text"
    placeholder="검색어를 입력해주세요"
  />
  <button type="button" aria-label="검색">
    <svg role="img" width="36" height="36" viewBox="0 0 36 36">
      <use href="/icon/_sprite.svg#Search" />
    </svg>
  </button>
</div>
<ul class="flex items-center gap-5 mt-2 ml-4">
  <li>
    <button>
      <svg role="button" width="36" height="36" viewBox="0 0 36 36">
        <use href="/icon/_sprite.svg#Location" />
      </svg>
    </button>
  </li>
  <li>
    <button>
      <svg role="button" width="36" height="36" viewBox="0 0 36 36">
        <use href="/icon/_sprite.svg#Heart" />
      </svg>
    </button>
  </li>
  <li>
    <button class="cart">
      <svg role="button" width="36" height="36" viewBox="0 0 36 36">
        <use href="/icon/_sprite.svg#Cart_header" />
      </svg>
    </button>
  </li>
</ul>
