<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>잔디 - 잔디마켓 장바구니추가 모달창</title>

    <meta
      name="description"
      content="Better Life for All. 건강한 식재료부터 믿을 수 있는 뷰티, 라이프스타일 상품까지. 나와 내 가족이 사고 싶은 상품을 판매합니다. 내일 아침 문 앞에서 만나요!"
    />
    <meta
      name="keywords"
      content="다이어트, 식단, 닭가슴살, 요리, 치아바타, 레시피, 상차림, 다이어트음식, 이유식, 건강이유식, 뷰티, 화장품"
    />
    <meta name="author" content="F4" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="잔디 - 잔디마켓/뷰티잔디" />
    <meta property="og:title" content="잔디 - 잔디마켓/뷰티잔디" />
    <meta
      property="og:description"
      content="Better Life for All. 건강한 식재료부터 믿을 수 있는 뷰티, 라이프스타일 상품까지. 나와 내 가족이 사고 싶은 상품을 판매합니다. 내일 아침 문 앞에서 만나요!"
    />

    <!-- <meta property="og:image" content="이미지 URL" /> -->
    <!-- <meta property="og:url" content="웹페이지 URL" /> -->
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link
      rel="preload"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body>
    
    <div class="flex items-center min-h-screen jusrify-center bg-amber-700">
    
      
      
      
      <!-- addCart component -->      
      <dialog id="addCart" class="w-356pxr box-content bg-white px-5 py-6 rounded-2xl shadow-[0_8px_36px_0_rgba(0,0,0,0.2)] flex flex-col ">
        <div class="add_option">
          <div class="pb-2 font-normal option_name text-content">
            <span class="product_brand">[풀무원]</span>
            <span class="product_name">탱탱쫄면 (4개입)</span>
          </div>
          <div class="flex items-center justify-between option_price">
            <div class="font-bold product_price">
              <span class="after_discount">4,980원</span>
              <span class="before_discount line-through text-[12px] text-gray-200 font-normal ml-1">5,600원</span>
            </div>
            <div class="box-content flex items-center justify-between bg-white border border-gray-200 border-solid option_count w-84pxr h-30pxr">
              <button type="button" class="minus w-30pxr h-30pxr" style="background-image: url(/input/minus-disabled.svg);">
                <span class="sr-only">수량 감소</span>
              </button>
              <span class="item_count">1</span>
              <button type="button"  class="plus w-30pxr h-30pxr" style="background-image: url(/input/plus.svg);">
                <span class="sr-only">수량 증가</span>
              </button>
            </div>
          </div>
        </div>
        
        <div class="flex flex-col items-end gap-1 pb-5 option_amount pt-14pxr border-t-[1px] border-t-gray-50">
          <div class="flex items-end justify-between w-full">
            <span>합계</span>
            <div class="font-bold option_sum text-heading-xl">
              <span>4,980원</span>
            </div>
          </div>
          <div class="flex reward text-label-small">
            <span class="bg-accent-yellow px-2 text-white rounded-[1px]">적립</span>
            <span class="ml-2" >구매 시 5원 적립</span>
          </div>
        </div>
        
        
        <ul class="flex gap-2 font-semibold add_cart_menu">
          <li class="w-full"><button type="button" value="cancel" class="w-full border border-gray-400 rounded h-54pxr text-content">취소</button></li>
          <li class="w-full"><button type="button" id="addBtn" class="w-full text-white rounded h-54pxr bg-primary">장바구니 담기</button></li>
        </ul>
      </dialog>
      <!-- addCart component -->
      
      
      <!-- addCart bubble component -->
      
      
      <!-- addCart bubble component -->
      
      
      
    </div>
  </body>
</html>
