.tab {
  @apply w-full font-semibold border border-gray-300 border-opacity-30 py-15pxr bg-gray-50;
}
.is_active_tab {
  @apply bg-white border-b border-gray-100 border-b-white text-primary;
}

.flex_column {
  @apply flex flex-col;
}

.leading_140 {
  @apply leading-[140%];
}
.leading_160 {
  @apply leading-[160%];
}

/* product_info */
.product {
  @apply w-[1050px] flex items-start justify-between;
}
.product_header {
  @apply gap-2 flex_column;
}

.info_flex {
  @apply flex py-4;
}

.icon_box_gray {
  @apply border border-gray-100 rounded-s p-2.5;
}

.button_normal {
  @apply font-semibold text-white rounded bg-primary;
}

.text_gray_semibold {
  @apply font-semibold text-gray-400;
}
.badge {
  @apply rounded-[1px] px-2 border;
}
.notice_badge {
  @apply px-2 bg-gray-100 rounded-[1px] text-label-small font-semibold text-content;
}

/* why karly */
.why_article {
  @apply mt-14 w-[315px] flex_column gap-8 items-center;
}
.why_article_img_size {
  @apply w-10 h-10;
}
.why_article_title {
  @apply font-semibold text-primary text-label-large;
}

/* review */
.best_badge {
  @apply self-start text-white badge bg-secondary border-secondary;
}
.purple_badge {
  @apply self-start badge border-primary text-primary;
}
.review_member {
  @apply flex gap-2 text-left py-17pxr text_gray_semibold text-label-small;
}

.review_table_subject {
  @apply px-5 border-b py-17pxr border-b-gray-100;
}
.review_table_subject_toggle {
  @apply flex items-center gap-2 font-semibold cursor-pointer text-label-medium;
}
.review_user_post_structure {
  @apply flex p-5 border-b border-b-gray-100 gap-82pxr;
}
.review_user_post_contents {
  @apply gap-5 text-left py-17pxr text-paragraph-small flex_column;
}

/* inquiry */
.inquiry_table_group_title {
  @apply font-semibold text-center py-17pxr;
}
.inquiry_table_subject {
  @apply flex items-center gap-5 px-5 font-semibold cursor-pointer py-17pxr w-742pxr;
}
.table_width100 {
  @apply text-center text-gray-400 py-17pxr w-100pxr;
}

.inquiry_content {
  @apply items-start gap-10 p-5 border-b bg-gray-50 border-b-gray-100;
}
.inquiry_contents_layout {
  @apply flex items-start self-stretch gap-3;
}
.inquiry_contents_question {
  @apply font-semibold text-label-small text-content;
}

.inquiry_contents_answer {
  @apply items-start gap-3 font-semibold text-label-small flex_column;
}
