@import 'tailwindcss/base.css';
/* @import './custom-base-styles.css'; */
@import 'tailwindcss/components.css';
/* @import './custom-components.css'; */
@import 'tailwindcss/utilities.css';
/* @import './custom-utilities.css'; */

@import './cart.css';
@import './font.css';
@import './common.css';
@import './header.css';
@import './footer.css';
@import './detailModal.css';
@import './detail.css';
