<!doctype html>
<html lang="ko-KR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>잔디 - 잔디마켓</title>

    <meta
      name="description"
      content="Better Life for All. 건강한 식재료부터 믿을 수 있는 뷰티, 라이프스타일 상품까지. 나와 내 가족이 사고 싶은 상품을 판매합니다. 내일 아침 문 앞에서 만나요!"
    />
    <meta
      name="keywords"
      content="다이어트, 식단, 닭가슴살, 요리, 치아바타, 레시피, 상차림, 다이어트음식, 이유식, 건강이유식, 뷰티, 화장품"
    />
    <meta name="author" content="F4" />

    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="잔디 - 잔디마켓/뷰티잔디" />
    <meta property="og:title" content="잔디 - 잔디마켓/뷰티잔디" />
    <meta
      property="og:description"
      content="Better Life for All. 건강한 식재료부터 믿을 수 있는 뷰티, 라이프스타일 상품까지. 나와 내 가족이 사고 싶은 상품을 판매합니다. 내일 아침 문 앞에서 만나요!"
    />

    <!-- <meta property="og:image" content="이미지 URL" /> -->
    <!-- <meta property="og:url" content="웹페이지 URL" /> -->
    <link rel="stylesheet" href="/src/styles/tailwind.css" />
    <link
      rel="stylesheet"
      as="style"
      crossorigin
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css"
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <script type="module" src="./header.js"></script>
  </head>
  <body>
    <header id="header">
      <!-- Top Banner -->
      <div class="flex top_banner bg-primary">
        <div class="text-white w-[1050px] mx-auto flex_center py-1">
          <span class="font-light w-[63rem] text-center"
            >지금 가입하고 인기상품 <strong class="font-medium">100원</strong>에
            받아가세요!</span
          >
          <button type="button">
            <img
              src="/icon/close_banner.png"
              alt="배너 쿠폰 닫기 버튼"
              class="w-42pxr h-42pxr"
            />
          </button>
        </div>
      </div>

      <div class="header_box w-[1050px] mx-auto my-3">
        <!-- Header-Top -->
        <ul class="relative flex justify-end">
          <li class="text-primary">
            <a class="text-14pxr" href="#">회원가입</a>
          </li>
          <li class="line">
            <a class="text-14pxr" href="#">로그인</a>
          </li>
          <li class="line">
            <a class="text-14pxr" href="#"
              >고객센터
              <img
                src="/icon/down_header.png"
                alt="드롭다운"
                aria-hidden="true"
              />
            </a>
          </li>
        </ul>

        <!-- Header-Middle -->
        <div class="flex justify-between items-center self-stretch mt-7">
          <!-- Middle-left -->
          <div class="flex items-center gap-3">
            <h2 class="w-82pxr h-42pxr">
              <img src="/jandi_logo.svg" alt="잔디마켓" />
            </h2>
            <a class="text-heading-large font-semibold text-primary" href=""
              >잔디마켓</a
            >
            <div
              class="before:content-['|'] before:w-1pxr before:text-gray-200"
            ></div>
            <a
              class="text-heading-large font-semibold text-gray-400 relative"
              href=""
              >잔디뷰티
              <svg
                class="absolute top-[-3px] right-[-13px]"
                role="img"
                width="7"
                height="7"
                viewBox="0 0 7 7"
              >
                <use href="/icon/new.svg#new 1" />
              </svg>
            </a>
          </div>

          <!-- Middle-Center -->
          <div
            class="flex w-400pxr py-3 px-5 justify-between items-center rounded-md border border-primary"
          >
            <input
              class="outline-none tracking-tight"
              type="text"
              placeholder="검색어를 입력해주세요"
            />
            <button type="button">
              <svg role="button" width="36" height="36" viewBox="0 0 36 36">
                <use href="/icon/_sprite.svg#Search" />
              </svg>
            </button>
          </div>

          <!-- Middle-Right -->
          <ul class="flex items-center gap-5">
            <li>
              <button>
                <svg role="button" width="36" height="36" viewBox="0 0 36 36">
                  <use href="/icon/_sprite.svg#Location" />
                </svg>
              </button>
            </li>
            <li>
              <button>
                <svg role="button" width="36" height="36" viewBox="0 0 36 36">
                  <use href="/icon/_sprite.svg#Heart" />
                </svg>
              </button>
            </li>
            <li>
              <button>
                <svg role="button" width="36" height="36" viewBox="0 0 36 36">
                  <use href="/icon/_sprite.svg#Cart_header" />
                </svg>
              </button>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </body>
</html>
