<dialog
  class="modal m-0 max-w-full max-h-full bg-[rgba(0,0,0,0.3)] inset-0 w-screen h-screen fixed flex items-center justify-center z-[100] modal_hidden"
>
  <form
    method="dialog"
    class="inline-flex flex-col items-start p-8 bg-white border border-gray-300 w-729pxr rounded-2xl"
  >
    <!-- title -->
    <div
      class="flex items-center justify-between w-full pb-5 border-b modal_title border-b-gray-100"
    >
      <h2 class="text-heading-xl font-bold leading-[140%]">후기 작성</h2>
      <svg
        class="cursor-pointer close_button"
        role="후기 작성 닫기"
        width="30"
        height="30"
      >
        <use href="/icon/_sprite.svg#Cancel" />
      </svg>
    </div>

    <!-- product -->
    <div
      class="flex items-center w-full gap-6 py-4 border-b modal_product border-b-gray-100"
    ></div>

    <!-- detail -->
    <div class="flex flex-col items-start self-stretch gap-1 pt-4 content_area">
      <!-- inner -->
      <div class="flex flex-col items-start self-stretch gap-3 pb-4">
        <!-- title -->
        <div class="flex items-start w-full modal_content_title"></div>
        <!-- desc -->
        <div class="relative flex items-start w-full">
          <label
            for="desc"
            class="pt-2 pr-2 font-semibold text-content text-label-medium w-100pxr"
            >내용</label
          >
          <div
            class="relative w-full p-4 overflow-y-auto border border-gray-300 rounded h-198pxr"
          >
            <textarea
              id="desc"
              cols="10"
              rows="5"
              maxlength="5000"
              class="w-full h-full outline-none flex items-start text-paragraph-small leading-[160%]"
            ></textarea>

            <!-- 가상 placeholder -->
            <div
              class="virtual_placeholder absolute h-597pxr top-0 left-0 pointer-events-none flex flex-col items-start gap-3 self-stretch text-paragraph-small text-gray-400 leading-[160%] p-4"
            ></div>
          </div>
          <!-- 글자 수 세기 -->
          <div
            class="absolute bottom-0 border-b border-b-gray-300 right-5 py-2 text-right w-[83%] bg-white text-gray-700 text-paragraph-small leading-[160%]"
          >
            <span class="text_length"></span>
          </div>
        </div>
      </div>
      <div class="secret_check"></div>
    </div>

    <!-- button -->
    <div
      class="flex items-start justify-center w-full gap-3 pt-5 border-t border-t-gray-100"
    >
      <button
        type="reset"
        value="취소"
        class="border-gray-200 modalButton text-content"
      >
        취소
      </button>
      <button
        type="submit"
        disabled
        value="등록"
        class="text-white border-gray-200 modalButton"
      >
        등록
      </button>
    </div>
  </form>
</dialog>
