<!-- addCart bubble component -->

<div class="relative flex items-center">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="20"
    height="18"
    viewBox="0 0 20 18"
    fill="none"
    class="absolute top-[-31px] right-[28px]"
  >
    <path d="M10 1L18.6603 13.75H1.33975L10 1Z" fill="white" />
    <path d="M1 13.5L10 1L18.5 13.5" stroke="#C4C4C4" />
  </svg>
  <img
    src="https://via.placeholder.com/46x60"
    alt=""
    class="bubble_image"
    width="46"
    height="60"
  />
  <div
    class="flex flex-col gap-2 pl-5 font-normal w-258pxr text-content text-label-small"
  >
    <span
      class="overflow-hidden text-gray-300 text-ellipsis whitespace-nowrap bubble_product_name"
    ></span>
    <div>
      <p id="bubble_message"></p>
    </div>
  </div>
</div>

<!-- addCart bubble component -->
